<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:p="http://www.springframework.org/schema/p"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
		https://www.springframework.org/schema/beans/spring-beans.xsd

		http://www.springframework.org/schema/context
		https://www.springframework.org/schema/context/spring-context.xsd

		http://www.springframework.org/schema/mvc
		https://www.springframework.org/schema/mvc/spring-mvc.xsd">

    <mvc:annotation-driven>
        <mvc:argument-resolvers>
            <bean class="by.it_academy.jd2.Mk_JD2_103_23.database_app.controller.resolver.FlightFilterResolver"/>
        </mvc:argument-resolvers>
    </mvc:annotation-driven>

    <context:component-scan base-package="by.it_academy.jd2.Mk_JD2_103_23.database_app.controller"/>

    <bean id="viewResolver" class="org.springframework.web.servlet.view.InternalResourceViewResolver">
        <property name="viewClass" value="org.springframework.web.servlet.view.JstlView"/>
        <property name="prefix" value="/view/"/>
        <property name="suffix" value=".jsp"/>
    </bean>

    <bean id="aircraftDao"
          class="by.it_academy.jd2.Mk_JD2_103_23.database_app.dao.AircraftDao">
        <constructor-arg name="emf" ref="emf"/>
    </bean>

    <bean id="emf"
          class="by.it_academy.jd2.Mk_JD2_103_23.database_app.dao.data_source.EMFFactory"
          factory-method="getInstance" >
    </bean>

    <bean id="dataSource"
          class="by.it_academy.jd2.Mk_JD2_103_23.database_app.dao.data_source.DBDataSource"
          factory-method="getInstance" >
    </bean>

    <bean id="airportDao"
          class="by.it_academy.jd2.Mk_JD2_103_23.database_app.dao.AirportDao">
        <constructor-arg name="emf" ref="emf"/>
    </bean>

    <bean id="flightDao"
          class="by.it_academy.jd2.Mk_JD2_103_23.database_app.dao.FlightDao">
        <constructor-arg name="dataSource" ref="dataSource"/>
    </bean>

    <bean id="aircraftService"
          class="by.it_academy.jd2.Mk_JD2_103_23.database_app.service.AircraftService">
        <constructor-arg name="dao" ref="aircraftDao"/>
    </bean>

    <bean id="airportService"
          class="by.it_academy.jd2.Mk_JD2_103_23.database_app.service.AirportService">
        <constructor-arg name="dao" ref="airportDao"/>
    </bean>

    <bean id="flightService"
          class="by.it_academy.jd2.Mk_JD2_103_23.database_app.service.FlightService">
        <constructor-arg name="dao" ref="flightDao"/>
    </bean>
</beans>